<h2>Custom View Component</h2>
<db-ngtreegrid [data]="products" [configs]="configs"></db-ngtreegrid>
<h3>Custom Component</h3>
<p> For Custom component, type of the column should be set to <b>'custom'</b> and Custom Component should be set in component
    config of the Column. </p>
<pre class="code">
    <span class="tr first-row"><span class="th"></span><code>{{"type: 'custom',"}}</code></span>
    <span class="tr e"><span class="th"></span><code>{{"component: CustomCellViewComponent"}}</code></span>
</pre>
<p> Please check below how to create a cusotm component.
    This component needs to be added to the <b>entryComponents</b> of the module.
</p>
<div style="margin: 20px 0;">Please check the Full code below.</div>
<div class="code">
<pre class="prettyprint linenums lang-ts">
    {{"@Component({
        selector: 'app-cell-component',
        template: `
        &#123;{'$'+cell_value}\&#125;
        `,
      })
      export class PriceComponent {
        @Input()
        cell_value: string;
      }
      
      export class CustomViewComponent {
        products: any[] = [
            { product_type: 'Book', name: 'Angular', price: 90 },
            { product_type: 'Book', name: 'Python', price: 70 },
            { product_type: 'Book', name: 'PHP', price: 80 },
            { product_type: 'Book', name: 'Java', price: 50 },
            { product_type: 'Electronic', name: 'Mouse', price: 50 },
            { product_type: 'Electronic', name: 'Earphone', price: 20 },
            { product_type: 'Electronic', name: 'Speaker', price: 45 },
            { product_type: 'Electronic', name: 'Hard Drive', price: 55 }
          ];
          configs: any = {
            'columns': [{
              'header': 'Product Name',
              'name': 'name',
              'sortable': false,
              'hidden': false
            }, {
              'header': 'Price',
              'name': 'price',
              'width': '200px',
              'type': 'custom',
              'component': PriceComponent,
              'group_aggregator': (array) => {
                const prices = array.map((item) => item.price);
                return '$' + prices.reduce((acc, item) => Number(acc) + Number(item));
              }
            }],
            'group_by': 'product_type',
            'group_by_header': 'Product Type',
            'group_by_width': '100px'
          };
      }
    "}}
</pre>
</div>